.header__logo {
  width: 104px;
  height: 24px;
  margin-left: 27px;
}

@media only screen and (min-width: 800px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 19px;
  }
}

@media only screen and (min-width: 918px) {
  .header__logo {
    margin: 0;
  }
}
