.profile__info-editable {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

@media only screen and (min-width: 800px) {
  .profile__info-editable {
    gap: 18px;
  }
}
